<!-- <button ng-click="home.checked()">checkTime</button>
<md-card class="myCard">
  <md-card-header-text class="cardTitle"> Active </md-card-header-text>
  <md-card-actions layout="row" layout-align="start center">
    <md-card-icon-actions>
      <md-input-container>
        <form ng-submit="home.createTask(home.taskName)">
          <label>Add a task...</label>
          <input type="text" ng-model="home.taskName">
        </form>
      </md-input-container>
    </md-card-icon-actions>
  </md-card-actions>
  <md-card-content>
    <md-list ng-if="home.tasks.length">
      <md-list-item class="" ng-repeat="task in home.tasks"> {{ task.name }} : {{task.startedAt}}
        <md-checkbox class="md-secondary" ng-click="home.completed(task ,$index)">
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card> -->
