

.myCard {
    /*min-width: 80%;*/
    /* float: left; */
    margin-left: 6rem;
    margin-right: 6rem;
}
.cardTitle {
  text-align: left;
  /* padding-left: 1rem; */
  padding-top:1rem;
  padding-left: 1rem;
  min-height: 50px;
  background: #F7F9FC;
}

.myCard img {
  max-height:200px;
}
.green {
  color: green;
}

.addPaddingBottom {
  margin-bottom:3rem;
}
.center {
  vertical-align: middle;
  background:white;
  text-align: center;
  margin-left: 20%;
  margin-right:20%
}
.top-button {
  position:relative;
  bottom:4rem;
}
.left {
  text-align: left;
}

md-content {
    display: block;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #de8b8b;
}
