<!DOCTYPE html>
<html ng-app="taskApp">

<head lang="en">
  <meta charset="UTF-8">
  <title>Bloc Base Project</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>

<body>
  <div class="container">
    <div class="cell">
      <h3>Task App  </h3>
    </div>
    <div class="cell fullwidth">
      <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Active">
              <md-content class="md-padding">
                <h1 class="md-display-2">
                Active Tasks
                </h1>
                <!--home controller  -->
                <div ng-controller="HomeCtrl as home">
                  <md-card class="myCard">
                    <md-card-header-text class="cardTitle">
                      Active
                    </md-card-header-text>
                    <md-card-actions layout="row" layout-align="start center">
                      <md-card-icon-actions>
                        <form ng-submit="home.createTask(home.taskName,home.levelTest)">
                          <md-input-container>

                            <label>
                              Add a task...
                            </label>
                            <input type="text" ng-model="home.taskName">
                          </md-input-container>

                          <!-- add priority -->

                          <md-input-container class="position margin">
                            <md-select ng-model="home.levelTest" placeholder="priority">
                              <md-option ng-repeat="level in home.priority" value="{{level}}">
                                {{level}}
                              </md-option>
                            </md-select>
                          </md-input-container>
                          <input class="position" type="submit" id="submit" value="Submit" />
                        </form>
                      </md-card-icon-actions>
                    </md-card-actions>
                    <md-card-content>
                      <md-list ng-if="home.tasks.length ">
                        <md-list-item ng-repeat="task in home.tasks">
                          {{ task.name }}
                          <span class="addLeftMargin">
                            {{task.priority}}
                          </span>
                          <md-checkbox class="md-secondary" ng-click="home.completed(task)"></md-checkbox>
                          <i ng-click="home.removeTask(task)" class="material-icons">
                            delete
                          </i>
                        </md-list-item>
                      </md-list>
                    </md-card-content>
                  </md-card>
                </div>
              </md-content>
            </md-tab>

            <md-tab label="Expired">
              <md-content class="md-padding">
                <h1 class="md-display-2">
                  Expired Tasks
                </h1>

                <!--ExpiredCtrl as expired  -->
                <div ng-controller="ExpiredCtrl as expired">
                  <md-card class="myCard">
                    <md-card-header-text class="cardTitle">
                      Expired Tasks
                    </md-card-header-text>
                    <md-card-content>
                      <md-list>
                        <md-list-item ng-repeat="list in expired.expiredList">
                          {{list.name}}
                          <md-icon class="md-secondary green">
                            check
                          </md-icon>
                        </md-list-item>
                      </md-list>
                    </md-card-content>
                  </md-card>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="Completed">
              <md-content class="md-padding">
                <h1 class="md-display-2">
                  Completed Tasks
                </h1>
                <!-- CompTask as comp -->
                <div ng-controller="CompCtrl as comp">
                  <md-card class="myCard">
                    <md-card-header-text class="cardTitle">
                      Completed Tasks
                    </md-card-header-text>
                    <md-card-content>
                      <md-list>
                        <md-list-item ng-repeat="list in comp.completedList">
                          {{list.name}}
                          <md-icon class="md-secondary green">
                            check
                          </md-icon>
                        </md-list-item>
                      </md-list>
                    </md-card-content>
                  </md-card>
                </div>
              </md-content>
            </md-tab>
      </div>
    </div>
  </div>




  <!-- <ui-view></ui-view> -->
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- AngularUI Router -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script> -->

  <!-- FireBase -->
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyC_q9xwS3cSGWbyASgFfC92-uQsxFXg0-o",
      authDomain: "task-app-2c62e.firebaseapp.com",
      databaseURL: "https://task-app-2c62e.firebaseio.com",
      projectId: "task-app-2c62e",
      storageBucket: "task-app-2c62e.appspot.com",
      messagingSenderId: "342412852774"
    };

    firebase.initializeApp(config);
  </script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/HomeCtrl.js"></script>
  <script src="/scripts/services/task.js"></script>
  <script src="/scripts/controllers/CompCtrl.js"></script>
  <script src="/scripts/controllers/ExpiredCtrl.js"></script>

</body>

</html>
